<!--
@author    Hani-Firman
@copyright Copyright (C) 2012 Hani-Firman
@license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
-->

<!DOCTYPE html>
<!--[if IE 7 ]>   <html lang="en" class="ie7 lte8"> <![endif]-->
<!--[if IE 8 ]>   <html lang="en" class="ie8 lte8"> <![endif]-->
<!--[if IE 9 ]>   <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<html>
<head>
  <title>Hani-Firman | InsyaALLAH Menikah :)</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Lang" content="en"/>
<meta name="author" content="Mihai Balea"/>
<meta http-equiv="Reply-to" content="contact@mihaibalea.info"/>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
<link rel="shortcut icon" href="favicon.ico">
</head>
<body id="body_pat" class="red">

<%= yield %>

</body>
</html>

